#game {
  position: absolute;
  width: 640px;
  height: 480px;
  margin: 0;
  background-color: #000000;
}

#paddle {
  position: absolute;
  background-color: #ffff00;
  width: 120px;
  height: 10px;
}

#ball {
  position: absolute;
  background-color: #33ff33;
  width: 10px;
  height: 10px;
}

.brick {
  position: absolute;
  background-color: #cc0000;
  border: 1px solid black;
  width: 100px;
  height: 20px;
}

#score {
  
}