#game {
  position: absolute;
  top: 210px;
  left: 480px;
  width: 640px;
  height: 480px;
  margin: 0;
  background-color: #000000;
}

#paddle {
  position: absolute;
  background-color: #ffff00;
  left: 260px;
  top: 400px;
  width: 120px;
  height: 10px;
}

#ball {
  position: absolute;
  background-color: #33ff33;
  left: 315px;
  top: 235px;
  width: 10px;
  height: 10px;
}

.brick {
  position: absolute;
  background-color: #cc0000;
  border: 1px solid black;
  width: 100px;
  height: 20px;
}
